
@import "./utils/variables";

@import "./layout/header";
@import "./layout/footer";

@import "./base/reset";
@import "./base/typo";

@import "./components/cards";
@import "./components/botones";

@import "./pages/contacto";
@import "./pages/index";
@import "./pages/recetas";
@import "./pages/sobremi";