

$color-primario: rgba(196, 2, 51, 1);
$color-secundario: rgba(245, 245, 245, 0.97);



@mixin caja-flex($principal, $cruzado, $wrap){
    display: flex;
    justify-content: $principal;
    align-items: $cruzado;
    flex-wrap: $wrap;
