.contenedor_bg{
    width: 100%;

    background-image: url(../assets/sabores-recetafondo.jpg);
    background-color: $color-secundario;
    height: auto;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

