.footer_contenedor{
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    .footer_copyright{
        background-color: $color-primario;
        color: $color-secundario;
    }   
}