.btn{
    border: none;
    border-radius:2px;
    padding: 0.7em 1.5em;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size:1.5rem;
    font-weight: 500;
    transition: transform 100ms;
    &:hover{
        transform: scale(1.1);
    }
}

.boton{
    box-sizing: border-box;
    width: 115px;
    height: 31px;
    background: $color-primario;
    border: 1px solid #C40233;
    border-radius: 1px;

    font-weight: 300;
    font-size: .9rem;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 100ms;
    &:hover{
        transform: scale(1.1);
    }
}

.input{
    box-sizing: border-box;
    width: 256px;
    height: 31px;
    border: 1px solid $color-primario;
    border-radius: 1px;
    &::placeholder{
        text-align: center;
        font-size: .9rem;
        color: $color-primario;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}