// pantallas medianas

@media(max-width:992px){
    nav{
        @include caja-flex(space-around, center, wrap);
        padding-bottom: 20px;
        padding-top: 20px;

        ul{
            padding-left: 0;
        }
    }
}

// pantallas grandes

@media(min-width:992px){
    nav{
        @include caja-flex(space-between, center, nowrap);
        width:90%;
        margin: 0;
        padding-left: 30px;

        img{
            margin: 10px;
        }
    }
}