body{
    margin: 0;
    padding: 0;
    font-family: 'Quattrocento Sans', sans-serif;
}


ul{
    list-style-type: none;
    text-decoration: none;
    

    a{
        color: black;
        display: inline-block;
        text-decoration: none;
        text-shadow: 1px 3px 3px rgba(144, 141, 141, 0.73);
    }
}


a:active{
    text-decoration: none;
    color: $color-primario;
}

a:visited{
    text-decoration: none;
}

